DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DBNAME=notification_db
DATABASE_SSLMODE=disable

RABBITMQ_URL=amqp://guest:guest@localhost:5672/

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=user@example.com
SMTP_PASSWORD=secret
SMTP_FROM=noreply@talan.app
SMTP_FROM_NAME=Talan
SMTP_TLS=true

APP_ENV=development
APP_SENDERTYPE=console
